<a asp-area="Admin" asp-controller="Cities" asp-action="Index" class="btn btn-primary">Список городов</a>
<a asp-area="Admin" asp-controller="EventType" asp-action="Index" class="btn btn-primary">Типы событий</a>
<a asp-area="Manage" asp-controller="Events" asp-action="Create" class="btn btn-primary">Создать событие</a>
<a asp-area="Admin" asp-controller="Role" asp-action="Index" class="btn btn-primary">Список ролей</a>