@model CityViewModel

<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NameCity" class="control-label"></label>
                <input asp-for="NameCity" class="form-control" />
                <span asp-validation-for="NameCity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LocationLatitude" class="control-label"></label>
                <input asp-for="LocationLatitude" type="number" step="0.000001" class="form-control" />
                <span asp-validation-for="LocationLatitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LocationLongitude" class="control-label"></label>
                <input asp-for="LocationLongitude" type="number" step="0.000001" class="form-control" />
                <span asp-validation-for="LocationLongitude" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group mt-3">
                <input type="submit" value="Редактировать" class="btn btn-primary" />
            </div>
        </form>
        <a asp-area="Admin" asp-controller="Cities" asp-action="Index" class="btn btn-primary">Список городов</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}